/*Topography*/

/*html {
  font-size: 100%;
}*/

body {
  font-size: 0.875rem;
  font-family: 'Dosis', sans-serif;
  line-height: normal;
}

article {
  padding: 5rem 2rem 2rem 2rem;
  max-width: 800px;
  margin:auto;
  text-align: justify;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h1 {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  clear:both;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  text-align: center;
}

section p {
  font-size: 1.125rem;
  line-height: 1.4;
  padding: 1rem 0;
}

section a {
  font-size: 1.25rem;
}

/*Header*/

.container-80 {
  max-width: 800px;
  width: 80%;
  margin: auto;
}

.navigation {
  background-color: rgb(227, 227, 227);
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 0.5rem 0;
}

.logo {
  float: left;
  font-size: 1.3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.fade-on-hover {
  opacity: 1;
  transition: opacity;
  cursor: pointer;
}

.fade-on-hover:hover {
  opacity: 0.6;
}

.menus {
  float: right;
}

.navigation-item {
  display: inline-block;
  padding-left: 0.5rem;
}

.mini-image {
  height: 2rem;
  border-radius: 50%;
  border: solid black 1px;
}

#nori {
  border: solid black 0.125rem;
}

header {
  clear:both;
  text-align: center;
}

.title {
  margin-bottom: 1.5rem;
}

/*Main content*/

.main-article {
  text-align: justify;
}

.profile {
  margin-bottom: 40px;
  text-align: center;
  float: left;
}

.profile img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  max-width: 240px;
  padding:0.5rem;
  box-sizing: border-box;
}

.hti {
  float: left;
padding:1rem;
box-sizing: border-box;
}

.hti img {
  max-width: 100%;
}

.read-more {
  text-decoration: none;
  color: #3399ff;
}

.read-more-profile {
  text-decoration: none;
  color: #3399ff;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  text-align: center;
}

.read-more .arrow,
.read-more-profile .arrow {
  position: relative;
  transition: left 0.5s;
  font-size: 1.1rem;
  left: 0px;
}

.read-more:hover .arrow,
.read-more-profile:hover .arrow {
  left: 10px;
}

/*Footer*/

#project1 {
  border: solid black 1px;
}

footer {
  background-color: rgb(227, 227, 227);
  font-size: 0.75rem;
  padding: 1rem 0;
  clear:both;
}

footer .fa {
  font-size: 1rem;
  color: black;
  float: right;
  display: inline-block;
  padding-left: 0.5rem;
}

.footer-content {
  padding-bottom: 1rem;
}

.copyright {
  float: left;
  font-size: 0.9rem;
}

.fac-icon {
  height: 1rem;
  float: right;
  display: inline-block;
  padding-left: 0.5rem;
  filter: grayscale(100%);
}

@media only screen and (min-width: 768px) {
  html { font-size: 120%; }
}
