/*Topography*/

html {
  font-size: 100%;
}

body {
  position: relative;
  font-size: 0.875rem;
  font-family: 'Open Sans', sans-serif;
  line-height: normal;
}

article{
  padding: 5rem 2rem 2rem 2rem;
  max-width: 800px;
  margin:auto;
  text-align: justify;
}

section{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

section p {
  font-size: 1.25rem;
  line-height: 1.4;
  padding: 1rem 0;
}

section a {
  font-size:1.25rem;
}

/*Header*/

.container-80 {
  max-width: 800px;
  width: 80%;
  max-width: 800px;
  margin: auto;
}

.navigation {
  background-color: rgb(227, 227, 227);
  padding: 1rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  float: left;
  font-size: 1.3rem;
}

.fade-on-hover {
  opacity: 1;
  transition: opacity;
  cursor: pointer;
}

.fade-on-hover:hover {
  opacity: 0.6;
}

.menus {
  float: right;
}

.navigation-item {
  display: inline-block;
  padding-left: 0.5rem;
}

.mini-image {
  height: 1.7rem;
  border-radius: 50%;
  border: solid black 1px;
}

header {
  clear:both;
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

/*Main content*/

.main-article {
  text-align: justify;
}

.profile {
  margin-bottom: 40px;
  text-align: center;
  float: left;
}

.profile img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  float: left;
  padding:0.5rem;
  box-sizing: border-box;
}

.col-12 {
  clear: both;
}

.hti {
  float: left;
padding:1rem;
box-sizing: border-box;
}

.hti img {
  max-width: 100%;
}

footer {
  background-color: rgb(227, 227, 227);
  font-size: 0.75rem;
  padding: 1rem 0;
  clear:both;
}

footer .fa {
  font-size: 1rem;
  color: black;
  float: right;
  display: inline-block;
  padding-left: 0.5rem;
}

.footer-content {
  padding-bottom: 1rem;
}

.copyright {
  float: left;
  font-size: 0.9rem;
}

.fac-icon {
  height: 1rem;
  float: right;
  display: inline-block;
  padding-left: 0.5rem;
  filter: grayscale(100%);
}

.read-more {
  text-decoration: none;
  color: #3399ff;
}

.read-more .arrow {
  position: relative;
  transition: left 0.5s;
  font-size: 1.1rem;
  left: 0px;
}

.read-more:hover .arrow {
  left: 10px;
}
