/*html {
  font-size: 100%;
  text-align: center;
  box-sizing: border-box;
}

body {
  background-color: gray;
  font-family: sans-serif;
}*/

/*nav {
  background-color: black;
  color: white;
  width: 100%;
  padding: 1rem 0;
}

nav h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

nav ul {
  list-style-type: none;
  width: 100%;
  text-align: justify;
}

nav ul li {
  display: inline-block;
  font-size: 3rem;
  width: 19%;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-decoration: none !important;
  cursor: pointer;
  color: inherit;
}*/
/*header {
  clear:both;
  margin: 20px;
  text-align: center;
}*/
/*header h1 {
  font-size: 3.0rem;
}*/

/*article {
  padding: 2rem;
  background-color: white;
}

article h2 {
  font-size: 2.4rem;
  padding: 1rem 0;
}

section p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 1rem 0;
}*/

.hti {
  float: left;
padding:1rem;
box-sizing: border-box;
}

#about-me img {
  border-radius: 50%;
  max-width: 15rem;
  height:auto;
  margin: 0 auto;
  display: block;
}

#about-me ul {
  list-style-type: none;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#about-me ul li {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}
.ppage{
  font-size: 2rem;
  color:#3399ff;
}
/*li a{
  color:#3399ff;
}*/
