#about-me img:not(.svg-icon) {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  max-width: 15rem;
  height:auto;
  margin: 0 auto;
  display: block;
}

#about-me ul {
  list-style-type: none;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#about-me ul li {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}
#about-me .fa {
  font-size: 1rem;
  color: #3399ff;
  float: right;
  display: inline-block;
  padding-left: 0.5rem;
}

.svg-icon {
  height: 2.5rem;
}

.ppage {
  font-size: 2rem !important;
  color: #3399ff;
}

.codewars {
  height: 2rem;
}
